html{
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 500px 150px auto 200px;
    row-gap: 20px;  
    font-family: "Ubuntu", "Courier New", monospace; 
    
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f3dfc1;
}

.skip-main{
	position: absolute;
	left: -99999px;
	top: 30px;
}

.skip-main:focus, .skip-main:active{
	position: relative;
	left: 0;
	z-index:9999;
	width: 75%;
	height: auto;
	margin: 0 auto;
    color: white;
	text-align: center;
	text-decoration: none;
}

.current{
    text-decoration: underline;
}

div p{
    margin:10px 0;
    font-size: 30px;
}

header{
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 1;
    font-size: 45px;
    font-family: "Lucida Console", "Courier New", monospace;
}

header img{
    width: 100%;
    height: 75%;
    animation: fadeIn 3s;
    object-fit: cover;
}

header strong{
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    color: #246A73;

}

header a{
    font-size: 20px;
    font-family: "Ubuntu", "Courier New", monospace; 
}

nav{
    color: #160F29;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / span 1;
    font-size: 25px;
    border: 5px solid black;
    background-image: url('../image/background.jpg');
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (prefers-reduced-motion) {
    header img{
        width: 100%;
        height: 75%;
    }
}

nav li{
    margin: 0 auto;
    padding: 0;
    width:600px;
    list-style: none;
    text-align: center;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main{
    color: #160F29;
    grid-column: 2 / 3;
    grid-row: 3 / span 1;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#intro{
    grid-row: 1 / span 1;
}

#member{
    grid-row: 2 / span 1;
}

.small-title{
    color: #246A73;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.small-title i{
    font-family: 'FontAwesome';
}

aside {
    width: 30%;
    height: 40%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
}

aside img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

footer{
    grid-column: 2 / 3;
    grid-row: 4 / span 1;
}


@media all and (min-width: 700px)  { 
    body {
        grid-template-rows: 600px 70px auto 200px;
        grid-template-columns: 1fr 5fr 1fr;
        row-gap: 10px; 
    }
    nav li{
        display:inline;
        padding-right:45px;
    }



}

@media all and (min-width:1200px)  { 
    body {
        grid-template-rows: 600px 70px auto 200px;
        grid-template-columns: 1fr 7fr 1fr;
        row-gap: 10px; 
    }
    nav li{
        display:inline;
        padding-right:45px;

    }

    /* 
        IMPORTANT!!!
        Two paragraphs are stacked horizontally for wide screen!
        The grid layout changes here
    */

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    
    #intro{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    #member{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
}