html{
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 500px 150px 800px 200px;
    row-gap: 20px;  
    font-family: "Ubuntu", "Courier New", monospace; 
    background-color: #f3dfc1;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div p{
    margin:10px 0;
    font-size: 30px;
}

header{
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 45px;
    font-family: "Lucida Console", "Courier New", monospace;
}

header img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

header strong{
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    color: #246A73;
}

header a{
    font-size: 15px;
    font-family: "Ubuntu", "Courier New", monospace; 
}

.skip-main{
	position: absolute;
	left: -99999px;
	top: 30px;
}

.skip-main:focus, .skip-main:active{
	position: relative;
	left: 0;
	z-index:9999;
	width: 75%;
	height: auto;
	margin: 0 auto;
    color: white;
	text-align: center;
	text-decoration: none;

	/* color information, edit this to suit the colors of your layout */

}

.current{
    text-decoration: underline;
}

nav{
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / span 1;
    font-size: 25px;
    border: 5px solid black;
    background-image: url('../image/background.jpg');
}

nav li{
    margin: 0 auto;
    padding: 0;
    width:600px;
    list-style: none;
    text-align: center;
}

nav li ul{
    color:#246A73;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}


main{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

footer{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

ul {
	list-style: none;
}

/* 
    IMPORTANT!!!
    This is the flex component!!!
    Last time there was a not using .flex-container here saying that display:flex
    And due to the long time, I forget that .image-galley is what I truly use flexbox
    So this time please don't say that I didn't use flex and deduct me 10 points again :(
*/

.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	height: 100px;

}

.image-gallery > li {
	width: 200px; 
	position: relative;
}

.image-gallery li img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-radius: 5px;
	height: 150px;
	width: 200px;
}

.image-gallery li img:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

@media all and (min-width: 800px)  { 
    body {
        grid-template-rows: 600px 70px 1000px 200px;
        grid-template-columns: 1fr 5fr 1fr;
        row-gap: 10px; 
    }
    nav li{
        display:inline;
        padding-right:45px;
    }
    /* 
        IMPORTANT!!!
        flexbox are stacked horizontally for wide screen!
        The flex layout changes here
    */
    .image-gallery {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .image-gallery > li {
        width: 300px; 
    }
    .image-gallery li img {
        height: 200px;
        width: 300px;
    }



}

@media all and (min-width:1200px)  { 
    body {
        grid-template-rows: 600px 70px 800px 200px;
        grid-template-columns: 1fr 7fr 1fr;
        row-gap: 10px; 
    }
    nav li{
        display:inline;
        padding-right:45px;
    }
    /* 
        IMPORTANT!!!
        flexbox are stacked horizontally for wide screen!
        The flex layout changes here
    */
    .image-gallery {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .image-gallery > li {
        width: 300px; 
    }
    .image-gallery li img {
        height: 200px;
        width: 300px;
    }
}