html{
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 300px 50px 1300px 200px;
    row-gap: 10px;  
    font-family: "Ubuntu", "Courier New", monospace; 
}

p{
    margin:10px 0
}

header{
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 40px;
}

header img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

header strong{
    font-style: italic;
}

nav{
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 25px;
    border: 5px solid black;
}



nav li{
    display:inline;
    padding-right:45px;

}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}



main{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

footer{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	height: 100px;
}

.image-gallery > li {
	width: 350px; 
	position: relative;
}

.image-gallery li img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-radius: 5px;
	height: 200px;
	width: 300px;
}

.image-gallery li img:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width:600px)  { 
    
}

@media (min-width:1200px)  { 
    
}